{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/libs/bootstrap-editable.css">
{/block}
{block name="body"}
<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <div class="pull-left">
            <h2>{present name="data"}[ {$data['title']} ] 子{/present}商品管理</h2>
        </div>
        <div class="pull-right">
            <!-- <div class="search-form pull-left">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" value="{:input('title')}"
                           placeholder="请输入菜单名称">
                    <span class="input-group-btn"><a class="btn btn-default" href="javascript:;" id="search" url="__SELF__"><i class="icon-search"></i></a></span>
                </div>
            </div> -->
            <a class="btn btn-primary" href="{:url('add')}">新 增</a>
            <button class="btn btn-danger ajax-post confirm" url="{:url('del')}" target-form="ids">删 除</button>
        </div>
    </header>
    <div class="main-box-body clearfix">
        <div class="row">
            <form method="get">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <input type="text" class="form-control" name="keyword" value="{$keyword|default=''}" placeholder="请输入关键字">
                </div>
                <div class="col-sm-12 col-md-4">
                    <button class="btn btn-primary" type="submit">搜索</button>
                </div>
            </form>
        </div>
        <form class="ids">
            <div class="table-responsive clearfix">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="row-selected">
                            <input class="checkbox check-all" type="checkbox">
                        </th>
                        <th>ID</th>
                        <th>名称</th>
                        <th>分类</th>
                        <th>价格</th>
                        <th>排序</th>
                        <th>上架</th>
                        <th>是否推荐</th>
                        <th>库存</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    {notempty name="list"}
                    {volist name="list" id="menu"}
                    <tr>
                        <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$menu.id}"></td>
                        <td>{$menu.id}</td>
                        <td><a href="#" class="editable editable-click" data-id="{$menu['id']}" data-name="goods_name" data-type="text" data-pk="{$menu['id']}" data-url="{:url('editable')}">{$menu['goods_name']}</a></td>
                        <td>{:get_category($menu['category_id'], 'title')}</td>
                        <td><a href="#" class="editable editable-click" data-id="{$menu['id']}" data-name="shop_price" data-type="text" data-pk="{$menu['id']}" data-url="{:url('editable')}">{$menu['shop_price']}</a></td>
                        <td><a href="#" class="editable editable-click" data-id="{$menu['id']}" data-name="sort" data-type="text" data-pk="{$menu['id']}" data-url="{:url('editable')}">{$menu['sort']}</a></td>
                        <td>
                            {if $menu['status']}
                            <span class="label label-primary">{$menu['status_text']}</span>
                            {else/}
                            <span class="label label-danger">{$menu['status_text']}</span>
                            {/if}
                        </td>
                        <td>
                            {if $menu['is_recommend']}
                            <span class="label label-primary">{$menu['is_recommend_text']}</span>
                            {else/}
                            <span class="label label-danger">{$menu['is_recommend_text']}</span>
                            {/if}
                        </td>
                        <td><a href="#" class="editable editable-click" data-id="{$menu['id']}" data-name="goods_number" data-type="text" data-pk="{$menu['id']}" data-url="{:url('editable')}">{$menu['goods_number']}</a></td>
                        <td>
                            <a title="编辑" href="{:url('edit?id='.$menu['id'])}">编辑</a>
                            <a title="规格" href="{:url('goodsAttr/specAdd?id='.$menu['id'])}">规格</a>
                            <a class="confirm ajax-get" title="删除" href="{:url('del?id='.$menu['id'])}">删除</a>
                        </td>
                    </tr>
                    {/volist}
                    {else/}
                    <td colspan="10" class="text-center"> aOh! 暂时还没有内容!</td>
                    {/notempty}
                    </tbody>
                </table>
            </div>
            {$page}
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-editable.min.js"></script>
<script type="text/javascript">
    $(function () {
        $.fn.editable.defaults.mode = 'popup';
        $.fn.editableform.buttons = '<button type="submit" class="btn btn-success editable-submit btn-mini"><i class="fa fa-check-square-o fa-white"></i></button>' +
                '<button type="button" class="btn editable-cancel btn-mini"><i class="fa fa-times"></i></button>';
        $('.editable').editable();
        //搜索功能
        $("#search").click(function () {
            var url = $(this).attr('url');
            var query = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
            query = query.replace(/^&/g, '');
            if (url.indexOf('?') > 0) {
                url += '&' + query;
            } else {
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function (e) {
            if (e.keyCode === 13) {
                $("#search").click();
                return false;
            }
        });
    });
</script>
{/block}